<!DOCTYPE html>
<html class="success">
  <head>
    <meta charset="UTF-8">
    <title>Multiple Screenshots Done</title>
    <link href="css/bulma.min.css" text="text/css" rel="stylesheet" />
    <link href="css/styles.css" text="text/css" rel="stylesheet" />
  </head>
  <body>
  	<section class="section">
  	    <div class="container">
          <div id="page-actions">
            <button class="button is-medium" onclick="window.close();">Close Window</button>
          </div>
  	      <h1 class="title">
  	        Success
  	      </h1>

          <article class="message is-success">
            <div class="message-body">
              <p>
                Generated <%= totalShots %> screenshots in <strong><%= time %></strong> seconds.
              </p>
              <p>
                Full Page? <%= fullPage %>
              </p>
              <p>
                <a href="<%= page %>"><%= page %></a>
              </p>
              
            </div>
          </article>

          <% images.forEach(function (image) { %>
            <div class="screenshot">
              <a href="screenshots/<%= image.folder %><%= image.filename %>">
                <img src="screenshots/<%= image.folder %><%= image.filename %>" />
              </a>
              <br />
              <strong><%= image.folder %><%= image.filename %></strong>
            </div>
          <% }); %>

  	    </div>
  	  </section>

  </body>
</html>